.header {
	display: flex;
	position: relative;
	height: 5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	align-items: center;
	transition-property: background-color, border-color, color, fill, stroke,
		opacity, box-shadow, transform;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main {
	display: flex;
	position: relative;
	justify-content: center;
	font-family: Lato, serif;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 1rem;
	// background-color: var(--background-grey);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: sans-serif;
		line-height: 1.2;
	}

	h1 {
		font-size: 2.25rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.25rem;
	}

	h5 {
		font-size: 1.25rem;
	}

	h6 {
		font-size: 1rem;
	}

	p,
	ol,
	ul {
		color: rgba(0, 0, 0, 80%);
	}

	p {
		margin-bottom: 1rem;
		font-size: 1.25rem;
		color: #121037;
		line-height: 1.6;

		a {
			color: #597eba;
		}
	}

	ol {
		list-style-type: decimal;
		list-style-position: inside;

		& > li {
			font-size: 1.25rem;
		}
	}

	.container {
		width: 100%;
		margin-top: 3rem;

		& > section {
			width: 90%;
			margin: 0 auto;
			margin: 1rem auto 1rem;
		}
	}
}

.footer {
	display: flex;
	transition-property: background-color, border-color, color, fill, stroke,
		opacity, box-shadow, transform;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 960px) {
	.header {
		padding-left: 6rem;
		padding-right: 6rem;
	}

	.container {
		& > section {
			width: 80% !important;
			max-width: 800px;
		}
	}
}
