.root {
	margin: calc(var(--header-height)) auto 3.125rem;
	padding: 0;
	width: 100%;

	& > h1:first-of-type {
		margin-bottom: 2rem;
	}

	& > h1,
	& > h2,
	& > h3,
	& > h4,
	& > h5,
	& > h6 {
		margin: 2rem 0 0;
		line-height: 1.2;
	}

	& > section {
		margin: 0;
	}

	& > p {
		margin-bottom: 1rem;
		color: rgba(0, 0, 0, 0.7);
		font-size: 1.125rem;
	}

	& > p {
		img {
			width: 100%;
		}
	}

	iframe {
		width: 100%;
	}
}

@media (min-width: 960px) {
	.root {
		margin: calc(var(--header-height) + 1rem) auto 3.125rem;
		padding: 0 3.125rem;
		width: 750px;

		& > h1,
		& > h2,
		& > h3,
		& > h4,
		& > h5,
		& > h6 {
			margin: 2rem 0 0;
		}

		& > section {
			margin: 0;
		}

		& > p,
		& > ul {
			margin-bottom: 1rem;
		}
	}
}
