.root {
	margin: calc(var(--header-height)) auto 3.125rem;
	width: 100%;

	&.extraTopMargin {
		margin-top: calc(var(--header-height) + 1rem);
	}

	& > h1,
	& > h2,
	& > h3,
	& > h4,
	& > h5,
	& > h6 {
		margin: 2rem 1.5625rem 0 1.5625rem;
		line-height: 1.2;
	}

	& > section {
		margin: 0 1.5625rem;
	}

	& > p {
		margin: 1rem 1.5625rem;
		color: rgba(0, 0, 0, 0.7);
		font-size: 1.125rem;
	}

	& > p {
		img {
			width: 100%;
		}
	}
}

@media (min-width: 768px) {
	.root {
		margin: calc(var(--header-height) + 1rem) auto 3.125rem;
		width: 750px;

		& > h1,
		& > h2,
		& > h3,
		& > h4,
		& > h5,
		& > h6 {
			margin: 2rem 3.125rem 0 3.125rem;
		}

		& > section {
			margin: 0 3.125rem;
		}

		& > p {
			margin: 1rem 3.125rem;
		}
	}
}
