.signupForm {
	width: 100%;

	.label {
		font-weight: 700;
	}

	.description {
		p,
		ul {
			font-size: 1rem !important; // 1.125rem causes width issue on join us page. will investigate
		}
	}

	.emailInput,
	.firstNameInput,
	.lastNameInput {
		width: 100%;
		height: 2.8125rem;
		font-size: 1.125rem;
		margin-bottom: 0.5rem;
		padding-left: 0.5rem;
		border-radius: 0.25rem;
		border: 1px solid #ced4da;
		outline: none;
		outline-width: 0;
		transition: box-shadow 0.2s;

		&:focus {
			box-shadow: 0 0 0 2px var(--primary);
		}
	}

	.row {
		.column {
			label {
				display: block;
			}
		}
	}

	.groupCheckbox {
		display: block;
		margin: 0.5rem 0;
		font-size: 1.125rem;

		&:first-of-type {
			margin-top: 1rem;
		}

		input {
			margin-right: 0.75rem;
		}
	}

	button {
		// width: 6.25rem;
		// height: 2.8125rem;
		margin: 0.625rem 0;
		padding: 1rem;
		background-color: var(--primary);
		color: white;
		border: none;
		font-size: 1.25rem;
		line-height: 1rem;
		border-radius: 0.5rem;
		transition: background-color 150ms;

		&:not(.isDisabled) {
			cursor: pointer;

			&:hover {
				background-color: var(--primary-darker);
			}
		}
	}

	.checkbox {
		margin-right: 0.5rem;
	}

	.errorMessage,
	.successMessage {
		display: block;
		margin-top: 0.75rem;
		font-size: 1.125rem;
	}

	.errorMessage {
		color: red;
	}

	.successMessage {
		color: green;
	}

	p {
		color: rgba(0, 0, 0, 0.8);
	}

	h2 {
		margin: 2rem 0 0;
	}
}

@media (min-width: 768px) {
	.signupForm {
		.firstNameInput,
		.lastNameInput {
			width: initial;
		}

		.row {
			display: flex;
			justify-content: space-between;

			.column {
				label {
					display: block;
				}
			}

			.firstNameInput,
			.lastNameInput {
				width: 20rem;
			}
		}

		.gdprLabel {
			font-size: 1.125rem;
		}
	}
}
