.root {
	margin-top: 1rem;

	.main {
		flex: 0 1 70%;
	}

	.sidebar {
		flex: 0 1 30%;
		border: 1px solid var(--light-grey);
		border-radius: 1rem;
		padding: 1.5rem 0;
		height: 1050px;
	}

	iframe {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.root {
		display: flex;

		.main {
			padding-right: 2rem;
		}
	}
}
